# Pandas Mastery Notebook for Data Science & Machine Learning

[![Python](https://img.shields.io/badge/Python-3.7%2B-blue.svg)](https://www.python.org/)
[![Pandas](https://img.shields.io/badge/Pandas-Latest-green.svg)](https://pandas.pydata.org/)
[![License](https://img.shields.io/badge/License-MIT-yellow.svg)](https://opensource.org/licenses/MIT)

## üóÇÔ∏è Table of Contents

| Section | Topic | Difficulty | Key Concepts |
|---------|-------|------------|--------------|
| [Section 1](#section-1) | Data Creation & Import/Export | Beginner | DataFrame creation, file I/O |
| [Section 2](#section-2) | Data Exploration & Inspection | Beginner | info(), describe(), head(), tail() |
| [Section 3](#section-3) | Data Selection & Indexing | Beginner | loc, iloc, boolean indexing |
| [Section 4](#section-4) | Data Cleaning & Preprocessing | Intermediate | Missing values, duplicates, data types |
| [Section 5](#section-5) | Data Transformation & Manipulation | Intermediate | New columns, sorting, ranking |
| [Section 6](#section-6) | GroupBy Operations & Aggregations | Intermediate | groupby(), agg(), transform() |
| [Section 7](#section-7) | Merging, Joining & Concatenating | Intermediate | merge(), join(), concat() |
| [Section 8](#section-8) | Pivot Tables & Reshaping | Advanced | pivot_table(), melt(), stack() |
| [Section 9](#section-9) | Time Series Analysis | Advanced | Date operations, resampling, rolling |
| [Section 10](#section-10) | Advanced Operations | Advanced | Window functions, MultiIndex |
| [Section 11](#section-11) | Data Visualization | Intermediate | Pandas plotting integration |
| [Section 12](#section-12) | ML Preprocessing | Advanced | Feature engineering, scaling |
| [Section 13](#section-13) | Performance Optimization | Expert | Memory optimization, efficient operations |
| [Section 14](#section-14) | Common Patterns & Tricks | Expert | Advanced techniques, best practices |
| [Section 15](#section-15) | Real-World Scenarios | Expert | Complete case studies |
| [Section 16](#section-16) | Error Handling & Debugging | All Levels | Common errors and solutions |
| [Section 17](#section-17) | Library Integration | Advanced | NumPy, Scikit-learn, Matplotlib |

In [5]:
# SETUP

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from datetime import datetime, timedelta
import warnings
warnings.filterwarnings('ignore')

# Set display options for better output
pd.set_option('display.max_columns', None)
pd.set_option('display.width', None)
pd.set_option('display.max_colwidth', 50)

In [6]:
# BUILTIN DATASETS

# Iris Dataset from sklearn
from sklearn.datasets import load_iris
iris_df = pd.DataFrame(load_iris().data, columns=load_iris().feature_names)

# Seaborn datasets (instant access)
import seaborn as sns
tips_df = sns.load_dataset('tips')
flights_df = sns.load_dataset('flights')
titanic_df = sns.load_dataset('titanic')
car_crashes_df = sns.load_dataset('car_crashes')
mpg_df = sns.load_dataset('mpg')
penguins_df = sns.load_dataset('penguins')

In [7]:
# ========================================================================
# SECTION 1: DATA CREATION AND IMPORT/EXPORT
# ========================================================================

# 1.1 Creating DataFrames from scratch
print("\n1.1 Creating DataFrames")

# Dictionary method
data_dict = {
    'Name': ['Alice', 'Bob', 'Charlie', 'Diana', 'Eve'],
    'Age': [25, 30, 35, 28, 32],
    'City': ['New York', 'London', 'Paris', 'Tokyo', 'Sydney'],
    'Salary': [50000, 60000, 70000, 55000, 65000],
    'Department': ['IT', 'Finance', 'IT', 'HR', 'Finance']
}
df_employees = pd.DataFrame(data_dict)
print("Employee DataFrame:")
print(df_employees)

1.1 Creating DataFrames
Employee DataFrame:
      Name  Age      City  Salary Department
0    Alice   25  New York   50000         IT
1      Bob   30    London   60000    Finance
2  Charlie   35     Paris   70000         IT
3    Diana   28     Tokyo   55000         HR
4      Eve   32    Sydney   65000    Finance

In [8]:
# 1.2 Creating from lists
print("\n1.2 Creating from lists of lists")
data_list = [
    ['Product A', 100, 25.50],
    ['Product B', 150, 30.00],
    ['Product C', 75, 18.75],
    ['Product D', 200, 45.00]
]
df_products = pd.DataFrame(data_list, columns=['Product', 'Quantity', 'Price'])
print("Products DataFrame:")
print(df_products)

1.2 Creating from lists of lists
Products DataFrame:
     Product  Quantity  Price
0  Product A       100  25.50
1  Product B       150  30.00
2  Product C        75  18.75
3  Product D       200  45.00

In [9]:
# 1.3 Creating Series
print("\n1.3 Creating Series")
s_temperatures = pd.Series([20, 25, 30, 35, 40], 
                          index=['Mon', 'Tue', 'Wed', 'Thu', 'Fri'],
                          name='Temperature')
print("Temperature Series:")
print(s_temperatures)

1.3 Creating Series
Temperature Series:
Mon    20
Tue    25
Wed    30
Thu    35
Fri    40
Name: Temperature, dtype: int64

In [10]:
# 1.4 Date range creation
print("\n1.4 Creating date ranges")
date_range = pd.date_range(start='2024-01-01', end='2024-01-10', freq='D')
df_dates = pd.DataFrame({'Date': date_range, 'Value': np.random.randn(len(date_range))})
print("Date DataFrame:")
print(df_dates.head())

1.4 Creating date ranges
Date DataFrame:
        Date     Value
0 2024-01-01 -0.312965
1 2024-01-02  0.319146
2 2024-01-03 -1.974305
3 2024-01-04  0.348562
4 2024-01-05 -0.384390

In [ ]:
# 1.5 File operations examples (commented out - requires actual files)
print("\n1.5 File I/O Operations (Examples)")
print("""
# Reading files
df = pd.read_csv('data.csv')
df = pd.read_excel('data.xlsx', sheet_name='Sheet1')
df = pd.read_json('data.json')
df = pd.read_sql('SELECT * FROM table', connection)

# Writing files
df.to_csv('output.csv', index=False)
df.to_excel('output.xlsx', index=False, sheet_name='Data')
df.to_json('output.json', orient='records')
df.to_parquet('output.parquet')
""")

In [11]:
# Read CSV into a dataframe
df_csv = pd.read_csv('data.csv')

In [12]:
# Export to JSON
df_csv.to_json('output.json', orient='records')
print("csv:\n", df_csv.head())

csv:
    version    model   year
0      1.4   Cicada   2011
1      2.9     Newt   2013
2      3.1    Oscar   2018

In [13]:
# https://medium.com/data-engineering-with-dremio/getting-started-with-data-analytics-using-pyarrow-in-python-ac7a100bc569

# Export to Parquet
df_csv.to_parquet('output.parquet', engine='fastparquet')

# Read parquet into dataframe
df_parquet = pd.read_parquet('output.parquet', engine='fastparquet')
print(df_parquet.head())

   version    model   year
0      1.4   Cicada   2011
1      2.9     Newt   2013
2      3.1    Oscar   2018

In [14]:
# Read JSON into dataframe
df_json = pd.read_json('output.json')
print("json:\n", df_json.head())

json:
    version    model   year
0      1.4   Cicada   2011
1      2.9     Newt   2013
2      3.1    Oscar   2018

In [15]:
# Generate CSV file of popular operating systems and randomized hardware specs
import random

# Define headers
headers = ['os', 'hardware_model', 'ram', 'speed']

# Popular operating systems
operating_systems = [
    'Windows 11', 'Windows 10', 'macOS Ventura', 'macOS Sonoma', 'Ubuntu 22.04',
    'Ubuntu 24.04', 'Fedora 40', 'Debian 12', 'Arch Linux', 'Chrome OS'
]

# Hardware model examples
hardware_models = [
    'Dell XPS 13', 'HP Spectre x360', 'Lenovo ThinkPad X1', 'MacBook Air M2',
    'Asus ROG Zephyrus', 'Acer Predator Helios', 'Surface Laptop 5',
    'Framework Laptop', 'MSI Stealth 16', 'Razer Blade 14'
]

# RAM options (in GB)
ram_options = [8, 16, 32, 64]

# Speed options (CPU clock speed in GHz)
speed_options = [2.4, 2.8, 3.2, 3.6, 4.0, 4.5]

# Generate 10 rows of random data
os_data = {
    'os': [random.choice(operating_systems) for _ in range(10)],
    'hardware_model': [random.choice(hardware_models) for _ in range(10)],
    'ram': [random.choice(ram_options) for _ in range(10)],
    'speed': [random.choice(speed_options) for _ in range(10)]
}

# Create DataFrame
df_stacks = pd.DataFrame(os_data, columns=headers)

# Export to CSV
df_stacks.to_csv('hardware_specs.csv', index=False)

# Display the DataFrame for verification
print(df_stacks)

              os        hardware_model  ram  speed
0  macOS Ventura        Razer Blade 14   32    4.0
1   Ubuntu 24.04        MacBook Air M2   16    4.5
2      Debian 12      Surface Laptop 5   32    2.8
3   macOS Sonoma  Acer Predator Helios   16    2.8
4      Fedora 40        Razer Blade 14   64    4.0
5   Ubuntu 22.04      Framework Laptop   32    4.5
6      Debian 12           Dell XPS 13   32    4.0
7      Fedora 40        MacBook Air M2   64    4.5
8   Ubuntu 22.04     Asus ROG Zephyrus   16    2.4
9  macOS Ventura        MSI Stealth 16   64    2.8

In [16]:
# ========================================================================
# SECTION 2: DATA EXPLORATION AND INSPECTION
# ========================================================================

# 2.1 Basic Information
print("\n2.1 Basic DataFrame Information")
print(f"Shape: {df_employees.shape}")
print(f"Columns: {list(df_stacks.columns)}")
print(f"Data types:\n{df_stacks.dtypes}")
print(f"Memory usage:\n{df_stacks.memory_usage(deep=True)}")

2.1 Basic DataFrame Information
Shape: (5, 5)
Columns: ['os', 'hardware_model', 'ram', 'speed']
Data types:
os                 object
hardware_model     object
ram                 int64
speed             float64
dtype: object
Memory usage:
Index             132
os                600
hardware_model    640
ram                80
speed              80
dtype: int64

In [17]:
# 2.2 Statistical summary
print("\n2.2 Statistical Summary")
print(df_stacks.describe())
print("\nInfo about the DataFrame:")
df_stacks.info()

2.2 Statistical Summary
             ram      speed
count  10.000000  10.000000
mean   36.800000   3.630000
std    20.026649   0.834066
min    16.000000   2.400000
25%    20.000000   2.800000
50%    32.000000   4.000000
75%    56.000000   4.375000
max    64.000000   4.500000

Info about the DataFrame:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 4 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   os              10 non-null     object
 1   hardware_model  10 non-null     object
 2   ram             10 non-null     int64
 3   speed           10 non-null     float64
dtypes: float64(1), int64(1), object(2)
memory usage: 452.0+ bytes

In [18]:
# 2.3 Viewing data
print("\n2.3 Viewing Data")
print("First 3 rows:")
print(df_stacks.head(3))
print("\nLast 2 rows:")
print(df_stacks.tail(2))
print("\nRandom sample (2 rows):")
print(df_stacks.sample(2))

2.3 Viewing Data
First 3 rows:
              os    hardware_model  ram  speed
0  macOS Ventura    Razer Blade 14   32    4.0
1   Ubuntu 24.04    MacBook Air M2   16    4.5
2      Debian 12  Surface Laptop 5   32    2.8

Last 2 rows:
              os     hardware_model  ram  speed
8   Ubuntu 22.04  Asus ROG Zephyrus   16    2.4
9  macOS Ventura     MSI Stealth 16   64    2.8

Random sample (2 rows):
              os  hardware_model  ram  speed
7      Fedora 40  MacBook Air M2   64    4.5
9  macOS Ventura  MSI Stealth 16   64    2.8

In [19]:
# 2.4 Unique values and counts
print("\n2.4 Unique Values and Counts")
print(f"Unique hardware: {df_stacks['hardware_model'].unique()}")
print(f"Ram counts:\n{df_stacks['ram'].value_counts()}")
print(f"Number of unique operating systems: {df_stacks['os'].nunique()}")

2.4 Unique Values and Counts
Unique hardware: ['Razer Blade 14' 'MacBook Air M2' 'Surface Laptop 5'
 'Acer Predator Helios' 'Framework Laptop' 'Dell XPS 13'
 'Asus ROG Zephyrus' 'MSI Stealth 16']
Ram counts:
ram
32    4
16    3
64    3
Name: count, dtype: int64
Number of unique operating systems: 6

In [58]:
# ========================================================================
# SECTION 3: DATA SELECTION AND INDEXING
# ========================================================================

# 3.1 Column selection
print("\n3.1 Column Selection")
print("Single column (Series):")
print(df_stacks['hardware_model'])
print("\nMultiple columns (DataFrame):")
print(df_stacks[['os', 'ram']])

3.1 Column Selection
Single column (Series):
0          Razer Blade 14
1          MacBook Air M2
2        Surface Laptop 5
3    Acer Predator Helios
4          Razer Blade 14
5        Framework Laptop
6             Dell XPS 13
7          MacBook Air M2
8       Asus ROG Zephyrus
9          MSI Stealth 16
Name: hardware_model, dtype: object

Multiple columns (DataFrame):
              os  ram
0  macOS Ventura   32
1   Ubuntu 24.04   16
2      Debian 12   32
3   macOS Sonoma   16
4      Fedora 40   64
5   Ubuntu 22.04   32
6      Debian 12   32
7      Fedora 40   64
8   Ubuntu 22.04   16
9  macOS Ventura   64

In [25]:
df_stacks.ram

0    32
1    16
2    32
3    16
4    64
5    32
6    32
7    64
8    16
9    64
Name: ram, dtype: int64

In [59]:
# 3.2 Row selection
print("\n3.2 Row Selection")
print("Row by index (iloc):")
print(df_stacks.iloc[0])
print("\nMultiple rows by index:")
print(df_stacks.iloc[1:4])
print("\nRow by label (loc):")
print(df_stacks.loc[2])

3.2 Row Selection
Row by index (iloc):
os                 macOS Ventura
hardware_model    Razer Blade 14
ram                           32
speed                        4.0
rating                         2
Name: 0, dtype: object

Multiple rows by index:
             os        hardware_model  ram  speed  rating
1  Ubuntu 24.04        MacBook Air M2   16    4.5       2
2     Debian 12      Surface Laptop 5   32    2.8       1
3  macOS Sonoma  Acer Predator Helios   16    2.8       0

Row by label (loc):
os                       Debian 12
hardware_model    Surface Laptop 5
ram                             32
speed                          2.8
rating                           1
Name: 2, dtype: object

In [24]:
df_stacks['os'][1]

'Ubuntu 24.04'

In [26]:
df_stacks.iloc[0]

os                 macOS Ventura
hardware_model    Razer Blade 14
ram                           32
speed                        4.0
Name: 0, dtype: object

In [27]:
df_stacks.iloc[:, 0]

0    macOS Ventura
1     Ubuntu 24.04
2        Debian 12
3     macOS Sonoma
4        Fedora 40
5     Ubuntu 22.04
6        Debian 12
7        Fedora 40
8     Ubuntu 22.04
9    macOS Ventura
Name: os, dtype: object

In [28]:
df_stacks.iloc[:3, 0]

0    macOS Ventura
1     Ubuntu 24.04
2        Debian 12
Name: os, dtype: object

In [29]:
df_stacks.iloc[1:3, 0]

1    Ubuntu 24.04
2       Debian 12
Name: os, dtype: object

In [30]:
df_stacks.iloc[-5:]

              os     hardware_model  ram  speed
5   Ubuntu 22.04   Framework Laptop   32    4.5
6      Debian 12        Dell XPS 13   32    4.0
7      Fedora 40     MacBook Air M2   64    4.5
8   Ubuntu 22.04  Asus ROG Zephyrus   16    2.4
9  macOS Ventura     MSI Stealth 16   64    2.8

In [61]:
# 3.3 Conditional selection
print("\n3.3 Conditional Selection")
high_memory = df_stacks[df_stacks['ram'] >= 32]
print("Setups with RAM >= 32GB:")
print(high_memory)

slow_cpus = df_stacks[df_stacks['ram'] <= 16]
print("\nShow CPUs:")
print(slow_cpus)

3.3 Conditional Selection
Setups with RAM >= 32GB:
              os    hardware_model  ram  speed  rating
0  macOS Ventura    Razer Blade 14   32    4.0       2
2      Debian 12  Surface Laptop 5   32    2.8       1
4      Fedora 40    Razer Blade 14   64    4.0       0
5   Ubuntu 22.04  Framework Laptop   32    4.5       4
6      Debian 12       Dell XPS 13   32    4.0       0
7      Fedora 40    MacBook Air M2   64    4.5       0
9  macOS Ventura    MSI Stealth 16   64    2.8       0

Show CPUs:
             os        hardware_model  ram  speed  rating
1  Ubuntu 24.04        MacBook Air M2   16    4.5       2
3  macOS Sonoma  Acer Predator Helios   16    2.8       0
8  Ubuntu 22.04     Asus ROG Zephyrus   16    2.4       0

In [62]:
# Multiple conditions
young_high_earners = df_employees[(df_employees['Age'] < 30) & (df_employees['Salary'] > 50000)]
print("\nYoung high earners (Age < 30 AND Salary > 50000):")
print(young_high_earners)

Young high earners (Age < 30 AND Salary > 50000):
    Name  Age   City  Salary Department
3  Diana   28  Tokyo   55000         HR

In [31]:
df_stacks.loc[:, ['ram', 'speed']]

   ram  speed
0   32    4.0
1   16    4.5
2   32    2.8
3   16    2.8
4   64    4.0
5   32    4.5
6   32    4.0
7   64    4.5
8   16    2.4
9   64    2.8

In [32]:
df_stacks.speed >= 3

0     True
1     True
2    False
3    False
4     True
5     True
6     True
7     True
8    False
9    False
Name: speed, dtype: bool

In [33]:
df_stacks.loc[df_stacks.speed >= 3]

              os    hardware_model  ram  speed
0  macOS Ventura    Razer Blade 14   32    4.0
1   Ubuntu 24.04    MacBook Air M2   16    4.5
4      Fedora 40    Razer Blade 14   64    4.0
5   Ubuntu 22.04  Framework Laptop   32    4.5
6      Debian 12       Dell XPS 13   32    4.0
7      Fedora 40    MacBook Air M2   64    4.5

In [34]:
df_stacks.loc[(df_stacks.speed >= 3) & (df_stacks.ram >= 32)]

              os    hardware_model  ram  speed
0  macOS Ventura    Razer Blade 14   32    4.0
4      Fedora 40    Razer Blade 14   64    4.0
5   Ubuntu 22.04  Framework Laptop   32    4.5
6      Debian 12       Dell XPS 13   32    4.0
7      Fedora 40    MacBook Air M2   64    4.5

In [35]:
df_stacks.loc[(df_stacks.speed >= 3) | (df_stacks.ram >= 32)]

              os    hardware_model  ram  speed
0  macOS Ventura    Razer Blade 14   32    4.0
1   Ubuntu 24.04    MacBook Air M2   16    4.5
2      Debian 12  Surface Laptop 5   32    2.8
4      Fedora 40    Razer Blade 14   64    4.0
5   Ubuntu 22.04  Framework Laptop   32    4.5
6      Debian 12       Dell XPS 13   32    4.0
7      Fedora 40    MacBook Air M2   64    4.5
9  macOS Ventura    MSI Stealth 16   64    2.8

In [37]:
df_stacks.loc[df_stacks.os.isin(['Ubuntu 24.04', 'macOS Ventura'])]

              os  hardware_model  ram  speed
0  macOS Ventura  Razer Blade 14   32    4.0
1   Ubuntu 24.04  MacBook Air M2   16    4.5
9  macOS Ventura  MSI Stealth 16   64    2.8

In [52]:
df_stacks['rating'] = 0
df_stacks['rating']

0    0
1    0
2    0
3    0
4    0
5    0
6    0
7    0
8    0
9    0
Name: rating, dtype: int64

In [57]:
ratings = [0, 1, 2, 3, 4, 5]

for i in df_stacks['rating']:
    df_stacks['rating'][i] = random.choice(ratings)

df_stacks['rating']

0    2
1    2
2    1
3    0
4    0
5    4
6    0
7    0
8    0
9    0
Name: rating, dtype: int64

In [56]:
print(df_stacks)

              os        hardware_model  ram  speed  rating
0  macOS Ventura        Razer Blade 14   32    4.0       2
1   Ubuntu 24.04        MacBook Air M2   16    4.5       2
2      Debian 12      Surface Laptop 5   32    2.8       4
3   macOS Sonoma  Acer Predator Helios   16    2.8       0
4      Fedora 40        Razer Blade 14   64    4.0       5
5   Ubuntu 22.04      Framework Laptop   32    4.5       0
6      Debian 12           Dell XPS 13   32    4.0       0
7      Fedora 40        MacBook Air M2   64    4.5       0
8   Ubuntu 22.04     Asus ROG Zephyrus   16    2.4       0
9  macOS Ventura        MSI Stealth 16   64    2.8       0

In [63]:
# 3.4 Boolean indexing
print("\n3.4 Boolean Indexing")
mask = df_employees['City'].isin(['New York', 'London'])
print("Employees in New York or London:")
print(df_employees[mask])

3.4 Boolean Indexing
Employees in New York or London:
    Name  Age      City  Salary Department
0  Alice   25  New York   50000         IT
1    Bob   30    London   60000    Finance

In [64]:
# 3.5 Query method
print("\n3.5 Query Method")
result = df_employees.query("Age > 30 and Department == 'Finance'")
print("Query result (Age > 30 and Department == 'Finance'):")
print(result)

3.5 Query Method
Query result (Age > 30 and Department == 'Finance'):
  Name  Age    City  Salary Department
4  Eve   32  Sydney   65000    Finance

In [ ]:
# ========================================================================
# SECTION 4: DATA CLEANING AND PREPROCESSING
# ========================================================================